* {
  margin: 0;
  padding: 0; }

body {
  background: #EDF5F7;
  color: #070B34;
  font-family: "Comfortaa"; }

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer; }

.bar {
  height: 5px;
  width: 100%;
  background-color: #070B34;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease; }

#bar1 {
  transform: translateY(-4px); }

#bar3 {
  transform: translateY(4px); }

.nav__title {
  color: #070B34;
  margin: 60px 0 40px;
  font-size: 35px;
  font-weight: bold; }

.nav li a {
  font-size: 20px;
  color: #070B34;
  text-decoration: none; }

.nav li a:hover {
  font-weight: bold; }

.nav li {
  list-style: none;
  padding: 15px 0; }

.nav {
  padding: 0;
  margin: 0 40px;
  transition: 0.5s ease;
  display: none; }

.menu__bg, #menu__bar {
  top: 0;
  left: 0;
  position: absolute; }

.menu__bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: radial-gradient(circle, white, #EDF5F7);
  transition: 0.3s ease; }

#menu__bar {
  z-index: 2; }

.change__bg {
  width: 414px;
  height: 810px; }

.change .bar {
  background-color: #070B34; }

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg); }

.change #bar3 {
  transform: translateY(-6px) rotate(45deg); }

.change #bar2 {
  opacity: 0; }

.change {
  display: block; }

.profile__img {
  width: 130px;
  margin: 65px 200px;
  border-radius: 40%; }

.profile__heading {
  margin: 20px 20px;
  font-size: 32px;
  font-weight: bold;
  color: #070B34; }

.profile__subheading {
  font-size: 55px;
  margin: 30px 0px;
  font-weight: bold;
  color: #54B6EB; }

.profile__subheading--small {
  font-size: 20px;
  font-weight: bold;
  margin: 100px 0px;
  color: #070B34; }

.home__heading {
  font-size: 26px;
  margin: 25px 140px;
  font-weight: bold; }

.home__container {
  position: relative;
  background-color: white;
  border-radius: 20px;
  max-width: 380px;
  max-height: 100px;
  margin-left: 1em;
  margin-right: 1em; }

.home__png {
  display: inline-block;
  width: 70px;
  margin: 10px 60px; }

.breakpoint__png {
  display: inline-block;
  width: 1.8px;
  margin: 8px 2px; }

.home__subheading {
  display: inline-block;
  max-width: 33%;
  vertical-align: top;
  height: 120px; }

.device__heading {
  position: absolute;
  top: 1.7em;
  color: #3D3D3D;
  font-weight: bold;
  margin-top: 0em;
  margin-left: 3em;
  font-size: 16px; }

.device__subheading {
  position: absolute;
  top: 1em;
  color: #919191;
  margin-top: 3.5em;
  margin-left: 4em;
  font-size: 14px; }

.section {
  background-color: white;
  margin-top: 2em;
  margin-left: 1em;
  width: 380px;
  height: 350px;
  border-radius: 20px; }

.section__child {
  position: relative;
  margin-left: 5em;
  margin-top: 4em;
  display: inline-block; }

.section__header a {
  text-decoration: none;
  position: relative;
  color: #919191;
  margin-top: 3em;
  margin-left: 8em;
  font-size: 18px; }

.section__title a {
  text-decoration: none;
  position: relative;
  color: #3D3D3D;
  margin-bottom: 0em;
  margin-left: 5em;
  font-size: 26px;
  font-weight: bold; }

.section__section--secondary {
  background-color: white;
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;
  width: 380px;
  height: 360px;
  border-radius: 20px; }

.section__child--secondary img {
  position: relative;
  margin-left: 5em;
  margin-top: 1.5em;
  padding: 20px; }

.section__header--secondary a {
  text-decoration: none;
  position: relative;
  color: #919191;
  margin-left: 8em;
  font-size: 18px; }

.section__title--secondary a {
  text-decoration: none;
  position: relative;
  color: #3D3D3D;
  margin-bottom: 0em;
  margin-left: 5.4em;
  font-size: 26px;
  font-weight: bold; }

.kitchen__container {
  display: flex; }

.arrow__icon {
  margin-top: 2.5em;
  margin-left: 3em;
  display: block; }

.page__title {
  color: #070B34;
  padding: 14px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 1em;
  margin-left: 3em;
  display: inline-block; }

.kitchen-lights__section {
  background-color: white;
  margin-top: 2em;
  margin-left: 3.5em;
  margin-bottom: 2em;
  width: 300px;
  height: 300px;
  border-radius: 20px; }

.kitchen-lights__img {
  display: inline-block;
  position: relative;
  margin-left: 4em;
  margin-top: 1em; }

.kitchen__lights {
  display: inline-block;
  position: relative;
  margin: 0em 7em;
  text-decoration: none; }

.kitchen-ac__section {
  background-color: white;
  margin-top: 2em;
  margin-left: 3.5em;
  margin-bottom: 2em;
  width: 300px;
  height: 300px;
  border-radius: 20px; }

.kitchen-ac__img {
  display: inline-block;
  position: relative;
  margin-left: 2em;
  margin-top: 1em; }

.kitchen__ac {
  display: inline-block;
  position: relative;
  margin: 0em 7em;
  text-decoration: none; }

.kitchen__title {
  display: inline-block;
  position: relative;
  margin-top: 2em;
  margin-left: 8em; }

.kitchen-camera__section {
  background-color: white;
  margin-top: 2em;
  margin-left: 3.5em;
  margin-bottom: 2em;
  width: 300px;
  height: 300px;
  border-radius: 20px; }
  .kitchen-camera__section .img {
    max-width: 100%;
    min-height: 100%; }

.kitchen-camera__img img {
  display: inline-block;
  position: relative;
  margin-top: 2em;
  margin-left: 2em;
  width: 80%;
  object-fit: contain; }

.camera__title {
  display: inline-block;
  position: relative;
  margin: 0em 6em; }

.lights-wrapper {
  margin-top: 2em;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: 52px 52px 52px 52px 52px 52px;
  grid-template-areas: 'section-one section-one section-two section-two section-three section-three' 'section-four section-four section-four section-four section-five section-five' 'section-six section-six section-six section-six section-six section-six' 'section-seven section-eight section-nine section-ten section-eleven section-twelve' 'section-thirteen section-thirteen section-thirteen section-fourteen section-fourteen section-fourteen' 'section-fifthteen section-sixteen section-sixteen section-sixteen section-sixteen section-sixteen';
  grid-gap: 10px;
  padding: 5%;
  text-align: center; }
  .lights-wrapper img {
    max-width: 100%;
    min-height: 100%; }

.lights-wrapper__first-child {
  grid-area: section-one;
  background: white;
  padding: 20px 0;
  border-radius: 20px;
  height: 80px;
  width: 110px; }

.first-child__img {
  margin-left: 1.5em;
  width: 60%; }

.lights-wrapper__first-child p {
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  margin-top: 1.5em; }

.lights-wrapper__second-child {
  grid-area: section-two;
  background: white;
  padding: 20px 0;
  border-radius: 20px;
  height: 80px;
  width: 110px; }

.second-child__img {
  position: relative;
  width: 35%;
  margin-left: 2.2em;
  object-fit: fill; }

.lights-wrapper__second-child p {
  font-size: 11px;
  font-weight: bold;
  display: inline-block; }

.lights-wrapper__third-child {
  grid-area: section-three;
  background: white;
  padding: 20px 0;
  border-radius: 20px;
  height: 80px;
  width: 110px; }

.third-child__img {
  object-fit: fill;
  width: 40%;
  margin-left: 2em; }

.lights-wrapper__third-child p {
  font-size: 11px;
  font-weight: bold;
  display: inline-block; }

.lights-wrapper__fourth-child {
  grid-area: section-four;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 0;
  border-radius: 20px;
  text-align: left; }

.fourth-child__header {
  display: inline-block; }

.lights-wrapper__fifth-child {
  position: relative;
  grid-area: section-five;
  padding: 20px 0;
  border-radius: 20px;
  text-align: right; }

.lights-wrapper__sixth-child {
  grid-area: section-six;
  background: white;
  box-shadow: 1px 1px 0.5rem orange;
  padding: 20px 0;
  border-radius: 20px; }

.lights-wrapper__sixth-child img {
  width: 200px;
  display: inline-block; }

.lights-wrapper__seventh-child {
  grid-area: section-seven;
  padding: 20px 0;
  border-radius: 20px; }

.seventh-child__header {
  font-weight: bold;
  font-size: 14px; }

.lights-wrapper__eighth-child {
  grid-area: section-eight;
  padding: 20px 0;
  border-radius: 20px; }

.lights-wrapper__nineth-child {
  grid-area: section-nine;
  padding: 20px 0;
  border-radius: 20px; }

.lights-wrapper__tenth-child {
  grid-area: section-ten;
  padding: 20px 0;
  border-radius: 20px; }

.lights-wrapper__eleventh-child {
  grid-area: section-eleven;
  padding: 20px 0;
  border-radius: 20px; }

.lights-wrapper__twelfth-child {
  grid-area: section-twelve;
  padding: 20px 0;
  border-radius: 20px; }

.lights-wrapper__thirteenth-child {
  grid-area: section-thirteen;
  background: white;
  padding: 20px 0;
  border-radius: 20px;
  text-align: center; }

.thirteenth-child__text {
  font-weight: bold;
  display: inline-block; }

.thirteenth-child__img {
  width: 20%;
  display: inline-block; }

.lights-wrapper__fourteenth-child {
  grid-area: section-fourteen;
  background: white;
  padding: 20px 0;
  border-radius: 20px; }

.fourteenth-child__text {
  font-weight: bold;
  display: inline-block; }

.fourteenth-child__img {
  width: 20%;
  display: inline-block; }

.lights-wrapper__fifthteenth-child {
  grid-area: section-fifthteen;
  padding: 20px 0;
  border-radius: 20px; }

.fifthteenth-child__header {
  font-size: 14px;
  font-weight: bold; }

.lights-wrapper__sixteenth-child {
  grid-area: section-sixteen;
  padding: 20px 0;
  border-radius: 20px; }

.light-panel {
  max-height: 100%;
  max-width: 100%; }

.wrapper__checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

input[type="checkbox"] {
  position: relative;
  width: 70px;
  height: 30px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: .5s; }

input:checked[type="checkbox"] {
  background: #03a9f4; }

input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s; }

input:checked[type="checkbox"]:before {
  left: 40px; }

.slide__heading {
  margin-top: 50px;
  opacity: 0.7; }

.slideContainer {
  width: 75%;
  margin-left: 4em; }

.slider::after {
  content: "100";
  color: white;
  font-size: 1rem;
  position: absolute;
  color: black;
  left: 80%;
  top: 130%; }

.slider::before {
  content: "0";
  color: white;
  font-size: 1rem;
  position: absolute;
  color: black;
  left: 50%;
  top: 130%; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(90deg, #80ffb6 20%, #d6d6d6 60%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  /*Changing the box shadow*/
  box-shadow: 0px 1px 10px 1px white; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer; }

.circle {
  width: 12px;
  border-radius: 50%;
  display: inline-block; }

.circle:after {
  content: '';
  padding-bottom: 100%;
  display: block; }

.footer__nav {
  display: flex;
  list-style-type: none;
  justify-content: center; }

.footer__img {
  width: 25px;
  padding: 25px; }

/*# sourceMappingURL=style.css.map */
