* {
  margin: 0;
  padding: 0; }

body {
  background: #EDF5F7;
  color: #070B34;
  font-family: "Comfortaa"; }

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer; }

.bar {
  height: 5px;
  width: 100%;
  background-color: #070B34;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease; }

#bar1 {
  transform: translateY(-4px); }

#bar3 {
  transform: translateY(4px); }

.nav__title {
  color: #070B34;
  margin: 60px 0 40px;
  font-size: 35px;
  font-weight: bold; }

.nav li a {
  font-size: 20px;
  color: #070B34;
  text-decoration: none; }

.nav li a:hover {
  font-weight: bold; }

.nav li {
  list-style: none;
  padding: 15px 0; }

.nav {
  padding: 0;
  margin: 0 40px;
  transition: 0.5s ease;
  display: none; }

.menu__bg, #menu__bar {
  top: 0;
  left: 0;
  position: absolute; }

.menu__bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: radial-gradient(circle, white, #EDF5F7);
  transition: 0.3s ease; }

#menu__bar {
  z-index: 2; }

.change__bg {
  width: 414px;
  height: 810px; }

.change .bar {
  background-color: #070B34; }

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg); }

.change #bar3 {
  transform: translateY(-6px) rotate(45deg); }

.change #bar2 {
  opacity: 0; }

.change {
  display: block; }

.profile__img {
  width: 130px;
  margin: 65px 200px;
  border-radius: 40%; }

.profile__heading {
  margin: 20px 20px;
  font-size: 32px;
  font-weight: bold;
  color: #070B34; }

.profile__subheading {
  font-size: 55px;
  margin: 30px 0px;
  font-weight: bold;
  color: #54B6EB; }

.profile__subheading--small {
  font-size: 20px;
  font-weight: bold;
  margin: 100px 0px;
  color: #070B34; }

.home__heading {
  font-size: 26px;
  margin: 25px 140px;
  font-weight: bold; }

.home__container {
  position: relative;
  background-color: white;
  border-radius: 20px;
  max-width: 380px;
  max-height: 100px;
  margin-left: 1em;
  margin-right: 1em; }

.home__png {
  display: inline-block;
  width: 70px;
  margin: 10px 60px; }

.breakpoint__png {
  display: inline-block;
  width: 1.8px;
  margin: 8px 2px; }

.home__subheading {
  display: inline-block;
  max-width: 33%;
  vertical-align: top;
  height: 120px; }

.device__heading {
  position: absolute;
  top: 1.7em;
  color: #3D3D3D;
  font-weight: bold;
  margin-top: 0em;
  margin-left: 3em;
  font-size: 16px; }

.device__subheading {
  position: absolute;
  top: 1em;
  color: #919191;
  margin-top: 3.5em;
  margin-left: 4em;
  font-size: 14px; }

.section {
  background-color: white;
  margin-top: 2em;
  margin-left: 1em;
  width: 380px;
  height: 350px;
  border-radius: 20px; }

.section__child {
  position: relative;
  margin-left: 5em;
  margin-top: 4em;
  display: inline-block; }

.section__header {
  position: relative;
  color: #919191;
  margin-left: 10em;
  margin-top: 2em;
  font-size: 14px; }

.section__title {
  position: relative;
  color: #3D3D3D;
  margin-left: 6em;
  margin-top: 1em;
  font-size: 20px; }

.section__section--secondary {
  background-color: white;
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;
  width: 380px;
  height: 360px;
  border-radius: 20px; }

.section__child--secondary img {
  position: relative;
  margin-left: 6em;
  margin-top: 1.5em;
  display: inline-block; }

.section__header--secondary {
  position: relative;
  color: #919191;
  margin-left: 10em;
  margin-top: 2em;
  font-size: 14px; }

.section__title--secondary {
  position: relative;
  color: #3D3D3D;
  margin-left: 6.5em;
  margin-top: 1em;
  font-size: 20px; }

.kitchen__container {
  display: flex; }

.arrow__icon {
  margin-top: 2.5em;
  margin-left: 3em;
  display: block; }

.page__title {
  color: #070B34;
  padding: 14px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 1em;
  margin-left: 3em;
  display: inline-block; }

.kitchen-lights__section {
  background-color: white;
  margin-top: 2em;
  margin-left: 3.5em;
  margin-bottom: 2em;
  width: 300px;
  height: 300px;
  border-radius: 20px; }

.kitchen-lights__img {
  display: inline-block;
  position: relative;
  margin-left: 4em;
  margin-top: 1em; }

.kitchen-lights__title {
  display: inline-block;
  position: relative;
  margin: 0em 7em; }

.footer__nav {
  display: flex;
  list-style-type: none;
  justify-content: center; }

.footer__img {
  width: 25px;
  padding: 25px; }

/*# sourceMappingURL=style.css.map */
