@import '_variables';
@import '_mixins';
@import '_partials';
@import '_reset';


// This style affects the whole body of my page

* {
   margin: 0;
	 padding: 0;
}

body {
  background: $backColor;
  color: $primaryFontColor;
  font-family: $fontFamily;
}

// Hamburger styling starts here

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

// Hamburger bars

.bar {
  height: 5px;
  width: 100%;
  background-color: $primaryFontColor;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

// This is the hamburger menu title

.nav__title {
  color: $primaryFontColor;
  margin: 60px 0 40px;
  font-size: 35px;
  font-weight: bold;
}

.nav li a {
  font-size: 20px;
  color: $primaryFontColor;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.nav li {
  list-style: none;
  padding: 15px 0;
}

// This is where I hide the menu pages

.nav {
  padding: 0;
  margin: 0 40px;
  transition: 0.5s ease;
  display: none;
}

// This is where the hamburger menu background begins

.menu__bg, #menu__bar {
  top: 0;
  left: 0;
  position: absolute;
}

.menu__bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: radial-gradient(circle,white,$backColor);
  transition: 0.3s ease;
}

#menu__bar {
  z-index: 2;
}

// This is the hamburger menu backgrounds sizing

.change__bg {
  width: 414px;
  height: 810px;
}

// Hamburger menu styles

.change .bar {
  background-color: $primaryFontColor;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

// This is where the heading and subheading styles for my profile page begin

.profile__img {
  width: 130px;
  margin: 65px 200px;
  border-radius: 40%;
}

.profile__heading {
  margin: 20px 20px;
  font-size: 32px;
  font-weight: bold;
  color: $primaryFontColor;
}

.profile__subheading {
  font-size: 55px;
  margin: 30px 0px;
  font-weight: bold;
  color: $secondaryFontColor;
}

.profile__subheading--small {
  font-size: 20px;
  font-weight: bold;
  margin: 100px 0px;
  color: $primaryFontColor;
}

// This is where my home page styles start

.home {
  margin-top: 1.5em;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
}

.home__heading {
   font-size: 12px;
   font-weight: bold;
   display: inline-block;
   position: relative;
   margin-left: 12em;
}

.fa-plus-circle {
  margin-top: .2em;
  margin-left: 4.8em;
  font-size: 20px;
  color: #CDCDCD;
  display: inline-block;
  position: relative;
}

.my-home {
  margin-top: 1.5em;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
}

.my-home__heading {
  font-size: 26px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin-left: 6em;
}

.home__container {
  position: relative;
  background-color: white;
  border-radius: 20px;
  max-width: 380px;
  max-height: 100px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3em;
}

.home__png {
  display: inline-block;
  width: 70px;
  margin: 10px 60px;
}

.breakpoint__png {
  display: inline-block;
  width: 1.8px;
  margin: 8px 2px;
}

.home__subheading {
  display: inline-block;
  max-width: 33%;
  vertical-align: top;
  height: 120px;
}

.device__heading {
  position: absolute;
  top: 1.7em;
  color: $headingColor;
  font-weight: bold;
  margin-top: 0em;
  margin-left: 3em;
  font-size: 16px;
}

.device__subheading {
  position: absolute;
  top: 1em;
  color: $subheadingColor;
  margin-top: 3.5em;
  margin-left: 4em;
  font-size: 14px;
}

// This is my bedroom section

.section {
  background-color: white;
  margin-top: 2em;
  margin-left: 1em;
  width: 380px;
  height: 350px;
  border-radius: 20px;
}

.section__child {
  position: relative;
  margin-left: 5em;
  margin-top: 4em;
  display: inline-block;
}

.section__header a {
  text-decoration: none;
  position: relative;
  color: $subheadingColor;
  margin-top: 3em;
  margin-left: 8em;
  font-size: 18px;
}

.section__title a {
  text-decoration: none;
  position: relative;
  color: $headingColor;
  margin-bottom: 0em;
  margin-left: 5em;
  font-size: 26px;
  font-weight: bold;
}

// This is my kitchen section

.section__section--secondary {
  background-color: white;
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;
  width: 380px;
  height: 360px;
  border-radius: 20px;
}

.section__child--secondary img {
  position: relative;
  margin-left: 5em;
  margin-top: 1.5em;
  padding: 20px;
}

.section__header--secondary a {
  text-decoration: none;
  position: relative;
  color: $subheadingColor;
  margin-left: 8em;
  font-size: 18px;
}

.section__title--secondary a {
  text-decoration: none;
  position: relative;
  color: $headingColor;
  margin-bottom: 0em;
  margin-left: 5.4em;
  font-size: 26px;
  font-weight: bold;
}

// Kitchen page styles start here

// Style the title

.kitchen__container {
  display: flex;
}

// Style the arrow icon
.arrow__icon {
  margin-top: 2.5em;
  margin-left: 3em;
  display: block;
}

.fa-arrow-left {
  color: $primaryFontColor;
}

.page__title {
  color: $primaryFontColor;
  padding: 14px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 2em;
  margin-left: 5.5em;
  display: inline-block;
}

// Kitchen devices starts here

.kitchen-lights__section {
  background-color: $secondBackColor;
  margin-top: 2em;
  margin-left: 3.5em;
  margin-bottom: 2em;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
}

.kitchen-lights__img {
  display: inline-block;
  position: relative;
  margin-top: 1em;
}

.kitchen-lights__title a {
    text-decoration: none;
    color: $headingColor;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

// kitchen ac panel

.kitchen-ac__section {
  background-color: $secondBackColor;
  margin-top: 2em;
  margin-left: 3.5em;
  margin-bottom: 2em;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
}

.kitchen-ac__img {
  display: inline-block;
  position: relative;
  margin-top: 1em;
}

.kitchen-ac__title {
  text-decoration: none;
  color: $headingColor;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding: 40px;
}

// kitchen camera panel



.kitchen-camera__section {
  background-color: white;
  margin-top: 2em;
  margin-left: 3.5em;
  margin-bottom: 2em;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  text-align: center;

  .img {
    max-width: 100%;
    min-height: 100%;
  }
}

.kitchen-camera__img {
  display: inline-block;
  position: relative;
  width: 80%;
}

.kitchen-camera__title {
  text-decoration: none;
  color: $headingColor;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding: 40px;
}

// My lights page starts here

.lights-wrapper {
  margin-top: 3em;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: 52px 52px 52px 52px 52px 52px;
  grid-template-areas:
  'section-one section-one section-two section-two section-three section-three'
  'section-four section-four section-four section-four section-five section-five'
  'section-six section-six section-six section-six section-six section-six'
  'section-seven section-eight section-nine section-ten section-eleven section-twelve'
  'section-thirteen section-thirteen section-thirteen section-fourteen section-fourteen section-fourteen'
  'section-fifthteen section-fifthteen section-fifthteen section-fifthteen section-fifthteen section-fifthteen';
  grid-gap: 10px;
  padding: 5%;
  text-align: center;

  img {
    max-width: 100%;
    min-height: 100%;
  }
}

.lights-wrapper__first-child {
  grid-area: section-one;
  background: white;
  padding: 20px 0;
  border-radius: 20px;
  height: 80px;
  width: 110px;
}

.first-child__img {
  margin-left: 1.5em;
  width: 60%;
}

.lights-wrapper__first-child p {
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  margin-top: 1.5em;
}

.lights-wrapper__second-child {
  grid-area: section-two;
  background: white;
  padding: 20px 0;
  border-radius: 20px;
  height: 80px;
  width: 110px;
}

.second-child__img {
  position: relative;
  width: 35%;
  margin-left: 2.2em;
  object-fit: fill;
}

.lights-wrapper__second-child p {
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
}

.lights-wrapper__third-child {
  grid-area: section-three;
  background: white;
  padding: 20px 0;
  border-radius: 20px;
  height: 80px;
  width: 110px;
}

.third-child__img {
  object-fit: fill;
  width: 40%;
  margin-left: 2em;
}

.lights-wrapper__third-child p {
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
}

.lights-wrapper__fourth-child {
  grid-area: section-four;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 0;
  border-radius: 20px;
  text-align:left;
}

.fourth-child__header {
  display: inline-block;
}

.lights-wrapper__fifth-child {
  position: relative;
  grid-area: section-five;
  padding: 20px 0;
  border-radius: 20px;
  text-align: right;
}

.lights-wrapper__sixth-child {
  grid-area: section-six;
  background: white;
  box-shadow: 1px 1px 0.5rem orange;
  padding: 20px 0;
  border-radius: 20px;
}

.lights-wrapper__sixth-child img {
  width: 200px;
  display: inline-block;
}

.lights-wrapper__seventh-child {
  grid-area: section-seven;
  padding: 20px 0;
  border-radius: 20px;
}

.seventh-child__header {
  font-weight: bold;
  font-size: 14px;
}

.lights-wrapper__eighth-child {
  grid-area: section-eight;
  padding: 20px 0;
  border-radius: 20px;
}

.lights-wrapper__nineth-child {
  grid-area: section-nine;
  padding: 20px 0;
  border-radius: 20px;
}

.lights-wrapper__tenth-child {
  grid-area: section-ten;
  padding: 20px 0;
  border-radius: 20px;
}

.lights-wrapper__eleventh-child {
  grid-area: section-eleven;
  padding: 20px 0;
  border-radius: 20px;
}

.lights-wrapper__twelfth-child {
  grid-area: section-twelve;
  padding: 20px 0;
  border-radius: 20px;
}

.lights-wrapper__thirteenth-child {
  grid-area: section-thirteen;
  background: white;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.thirteenth-child__text {
  font-weight: bold;
  display: inline-block;
}

.thirteenth-child__img {
  width: 10%;
  padding: 10px;
  display: inline-block;
}

.lights-wrapper__fourteenth-child {
  grid-area: section-fourteen;
  background: white;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.fourteenth-child__text {
  font-weight: bold;
  display: inline-block;
}

.fourteenth-child__img {
  width: 10%;
  padding: 10px;
  display: inline-block;
}

.lights-wrapper__fifthteenth-child {
  grid-area: section-fifthteen;
  padding: 20px 0;
  border-radius: 20px;
  text-align: center;
}

.light-panel {
  max-height: 100%;
  max-width: 100%;
}

.highlighted-panel {
  box-shadow: 1px 1px 0.7rem $secondaryFontColor;
}

// Switch styles

.wrapper__checkbox {
  position: absolute;
  transform: translate(-50%,-50%);
}
input[type="checkbox"]
{
  position: relative;
  margin-left: 15em;
  margin-top: 2em;
  width: 50px;
  height: 20px;
  -webkit-appearance: none;
  background: #CDCDCD;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  transition: .5s;
}

input:checked[type="checkbox"]
{
  background:#03a9f4;
}
input[type="checkbox"]:before
{

/*this is the circle inside*/
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}
input:checked[type="checkbox"]:before
{
  left: 30px;
}


// Slide container styles

.slideContainer {
  margin-top: .5em;
  width: 100%;
}

.slider__heading {
  opacity: 0.7;
  font-weight: bold;
  color: white;
}

.slider {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214,214,214) 60%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
/*Changing the box shadow*/
  box-shadow: 0px 1px 10px 1px white;
}

.slider:hover {
  opacity: 2;
}

.slider::before {
  content: "0";
  font-size: 1rem;
  position: absolute;
  color: $primaryFontColor;
  left: 0%;
  top: 130%;
}

.slider::after {
  content: "100";
  font-size: 1rem;
  position: absolute;
  color: $primaryFontColor;
  left: 90%;
  top: 130%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

// Camera page styles start here

/*Slider*/

.camera__container {
  width: 60%;
  margin: 100px auto;
}

.camera__slider {
  position: relative;
}

.camera__slider .camera__track {
  width: 100%;
  height: 6px;
  background: #ccc;
}

.camera__slider .camera__track .camera__progress {
  width: 100%;
  width: 100%;
  background: tomato;
  transform-origin: 0;
}

.camera__slider .camera__thumb {
  width: 20px;
  height: 20px;
  background: tomato;
  position: absolute;
  top: -7px;
  border-radius: 50px;
  transform: translate(-50%);
}

// Circle style

.circle {
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.circle:after {
  content: '';
  padding-bottom: 100%;
  display: block;
}

// This is my footer nav

.footer__nav {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.footer__img {
  width: 25px;
  padding: 25px;
}
